{% include 'wrapper/header.html' %}
<div class="container-fluid margin-top-2">
    <ul class="nav nav-tabs" id="tabs">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'full_info' %}">Full Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'basic_info' %}">Basic Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'exam_info' %}">Exams Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'financial_info' %}">Financial Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Edit User</a>
      </li>
    </ul>
    <form action="" method="post">
        {% csrf_token %}
        <!-- BASIC INFO -->
        <h3 class="display-4">Basic Info</h3>
        <hr>
        <div class="form-row">
            <div class="col">
                <label for="{{basic_form.first_name.id_for_label }}">First Name: </label>
                {{basic_form.first_name}}
            </div>
            <div class="col">
                <label for="{{basic_form.last_name.id_for_label }}">Last Name: </label>
                {{basic_form.last_name}}
            </div>
            <div class="col">
                <label for="{{basic_form.fathers_name.id_for_label }}">Fathers Name: </label>
                {{basic_form.fathers_name}}
            </div>
            <div class="col">
                <label for="{{basic_form.mothers_name.id_for_label }}">Mothers Name: </label>
                {{basic_form.mothers_name}}
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label for="{{basic_form.fathers_job.id_for_label }}">Fathers Job: </label>
                {{basic_form.fathers_job}}
            </div>
            <div class="col">
                <label for="{{basic_form.mothers_job.id_for_label }}">Mothers Job: </label>
                {{basic_form.mothers_job}}
            </div>
            <div class="col">
                <label for="{{basic_form.afm.id_for_label }}">A.F.M.: </label>
                {{basic_form.afm}}
            </div>
            <div class="col">
                <label for="{{basic_form.fees.id_for_label }}">Fees: </label>
                {{basic_form.fees}}
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label for="{{basic_form.telephone_1.id_for_label }}">Telephone 1: </label>
                {{basic_form.telephone_1}}
            </div>
            <div class="col">
                <label for="{{basic_form.telephone_2.id_for_label }}">Telephone 2: </label>
                {{basic_form.telephone_2}}
            </div>
            <div class="col">
                <label for="{{basic_form.address.id_for_label }}">Address: </label>
                {{basic_form.address}}
            </div>
            <div class="col">
            </div>
        </div>
        <!-- EXAM INFO -->
        <h3 class="display-4 margin-top-2">Exam Info</h3>
        <hr>
        {% for exam_form in exam_forms %}
        <div class="form-row margin-top-2">
            <div class="col hidden">
                <label for="exam_id_{{ exam_form.form_number }}">id {{exam_form.form_number}}: </label>
                <input type="text" class="form-control"
                   name="exam_id_{{ exam_form.form_number }}"
                   id="exam_id_{{ exam_form.form_number }}"
                   {% if exam_form.element_id.value != None %}value="{{ exam_form.element_id.value }}"{% endif %}>
            </div>
            <div class="col">
                <label for="dictionary_{{ exam_form.form_number }}">Dictionary {{exam_form.form_number}}: </label>
                <input type="text" class="form-control"
                   name="dictionary_{{ exam_form.form_number }}"
                   id="dictionary_{{ exam_form.form_number }}"
                   {% if exam_form.dictionary.value != None %}value="{{ exam_form.dictionary.value }}"{% endif %}>
            </div>
            <div class="col">
                <label for="speaking_{{ exam_form.form_number }}">Speaking {{exam_form.form_number}}: </label>
                <input type="text" class="form-control"
                   name="speaking_{{ exam_form.form_number }}"
                   id="speaking_{{ exam_form.form_number }}"
                   {% if exam_form.speaking.value != None %}value="{{ exam_form.speaking.value }}"{% endif %}>
            </div>
            <div class="col">
                <label for="listening_{{ exam_form.form_number }}">Listening {{exam_form.form_number}}: </label>
                <input type="text" class="form-control"
                   name="listening_{{ exam_form.form_number }}"
                   id="listening_{{ exam_form.form_number }}"
                   {% if exam_form.listening.value != None %}value="{{ exam_form.listening.value }}"{% endif %}>
            </div>
            <div class="col">
                <label for="reading_{{ exam_form.form_number }}">Reading {{exam_form.form_number}}: </label>
                <input type="text" class="form-control"
                   name="reading_{{ exam_form.form_number }}"
                   id="reading_{{ exam_form.form_number }}"
                   {% if exam_form.reading.value != None %}value="{{ exam_form.reading.value }}"{% endif %}>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label for="writing_{{ exam_form.form_number }}">Writing {{exam_form.form_number}}: </label>
                <input type="text" class="form-control"
                   name="writing_{{ exam_form.form_number }}"
                   id="writing_{{ exam_form.form_number }}"
                   {% if exam_form.writing.value != None %}value="{{ exam_form.writing.value }}"{% endif %}>
            </div>
            <div class="col">
                <label for="grammar_{{ exam_form.form_number }}">Grammar {{exam_form.form_number}}: </label>
                <input type="text" class="form-control"
                   name="grammar_{{ exam_form.form_number }}"
                   id="grammar_{{ exam_form.form_number }}"
                   {% if exam_form.grammar.value != None %}value="{{ exam_form.grammar.value }}"{% endif %}>
            </div>
            <div class="col">
                <label for="test_{{ exam_form.form_number }}">Test {{exam_form.form_number}}: </label>
                <input type="text" class="form-control"
                   name="test_{{ exam_form.form_number }}"
                   id="test_{{ exam_form.form_number }}"
                   {% if exam_form.test.value != None %}value="{{ exam_form.test.value }}"{% endif %}>
            </div>
            <div class="col">
                <label for="exams_{{ exam_form.form_number }}">Exams {{exam_form.form_number}}: </label>
                <input type="text" class="form-control"
                   name="exams_{{ exam_form.form_number }}"
                   id="exams_{{ exam_form.form_number }}"
                   {% if exam_form.exams.value != None %}value="{{ exam_form.exams.value }}"{% endif %}>
            </div>
        </div>
        {% endfor %}
        <!-- FINANCIAL INFO -->
        <h3 class="display-4 margin-top-2">Financial Info</h3>
        <hr>
        {% for pay_form in pay_forms %}
        <div class="form-row">
            <div class="col hidden">
                <label for="pay_id_{{ pay_form.form_number }}">id {{pay_form.form_number}}: </label>
                <input type="text" class="form-control"
                   name="pay_id_{{ pay_form.form_number }}"
                   id="pay_id_{{ pay_form.form_number }}"
                   {% if pay_form.element_id.value != None %}value="{{ pay_form.element_id.value }}"{% endif %}>
            </div>
            <div class="col">
                <label for="pay_{{ pay_form.form_number }}">Pay {{pay_form.form_number}}: </label>
                <input type="text" class="form-control"
                   name="pay_{{ pay_form.form_number }}"
                   id="pay_{{ pay_form.form_number }}"
                   {% if pay_form.pay.value != None %}value="{{ pay_form.pay.value }}"{% endif %}>
            </div>
            <div class="col">
                <label for="date_{{ pay_form.form_number }}">Date {{pay_form.form_number}}: </label>
                <input type="text" class="form-control datepicker"
                   name="date_{{ pay_form.form_number }}"
                   id="date_{{ pay_form.form_number }}"
                   {% if pay_form.date.value != None %}value="{{ pay_form.date.value|date:'Y-m-d' }}"{% endif %}>
            </div>
            <div class="col">
                <label for="service_number_{{ pay_form.form_number }}">Service Number {{pay_form.form_number}}: </label>
                <input type="text" class="form-control"
                   name="service_number_{{ pay_form.form_number }}"
                   id="service_number_{{ pay_form.form_number }}"
                   {% if pay_form.service_number.value != None %}value="{{ pay_form.service_number.value }}"{% endif %}>
            </div>
        </div>
        {% endfor %}
        <input type="submit" value="Update" class="btn btn-primary margin-top-2" />
        <a href="{% url 'full_info' %}" class="btn btn-primary margin-top-2">Cancel</a>
    </form>
</div>
{% include 'wrapper/footer.html' %}